# folders
.externalToolBuilders/
.idea/
.idea_modules/
.settings/
babelCache/
bin/
dist/
dist-pretty/
docs/coverage/
node_modules/
out/
reports/
target/
tmp/
pom/

# file types
*.bak
*.iml
*.ipr
*.iws
*.launch
*.lock
*.log
*.orig
*.swp
*.tmp
*.zip

# specific files
.babelCache
.buildpath
.classpath
.eslintcache
.gradle
.loadpath
.metadata
.nexus
.nexusrc
.project
.target
application-override.yml
logback-override.xml
package-lock.json
pom.xml.versionsBackup
